@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root{
    --f-primary: #3A3A3A;
    --f-secondary: #18191F;
    --dark-color: rgba(0, 0, 0, 0.87);
    --gray-50: #787885;
    --gray-80: #5E6366;
    --feature-pcolor: #0A0826;
    --feature-scolor: #6C6C6C;
}

/* Shared styles */

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.d-flex{
    display: flex;
}
.btn-primary{
    background-color: #E02C6D;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
}

/* header style */
.header{
    justify-content: space-between;
    padding: 7vh 7vw 10vh ;
}

.nav-links{
    list-style-type: none;
    gap: 3vw;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--f-primary);
}

.nev-item a {
    text-decoration: none;
    font-size: 16px;
    color: var(--f-primary);
    font-weight: 600;
}

/* Banner style */

.banner{
    padding: 0 7vw 5vh ;
    height: 70vh;
    justify-content: space-between;
    
}
.b-content{
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    flex: 1;
}
.b-content h1{
    font-size: 3.2rem;
    line-height: 70px;
    font-weight: bold;
}
.b-content p{
    font-size: 1rem;
    font-weight: 600;
    color: var(--f-primary);
    white-space: pre-line;
}
.b-image{
    background-image: url("images/Circle\ design.svg");
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    object-fit: contain;
    object-position: center;
    width: 50%;
    flex: 1;
    
}
.b-image img{
    width: 75%;
    
}
.b-button{
    width: 12vw;
    margin-top: 2vh;
    border-radius: 41px;
}

/* sponsor section */
.sponsor{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 20vh 18vw 20vh;
}

/* collection section */
.collection{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20vh;
}
#p1{
    margin: 20px 0 60px;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    color: var(--f-primary);
}
.collection-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3vw;
    padding: 0 15vw 10vh;
    
}
.collection-card{
    text-align: left;
    padding: 15px 17px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.24);
}
.collection-card h2{
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    color: var(--f-secondary);
}
.collection-card h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
    margin: 10px 0;
}
.star{
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 7px;
}
.p2{
    font-size: 14px;
    font-weight: bold;
    line-height: 143%;
    color: var(--gray-50);
    letter-spacing: 1.8%;
}
#see-more{
    color: red;
    text-decoration: none;
    position: relative;
    left: 34%;
    bottom: 0;
}

/* feature section */

.feature{
    padding: 5vh 10vw;
    gap: 7vw;
}
.feature-content{
    flex-direction: column;
    gap: 30px;
}
.feature-content h1{
    font-size: 38px;
    font-weight: bold;
    line-height: 60px;
    color: var(--feature-pcolor);
    
}
.feature-content p{
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
    color: var(--feature-scolor);
    white-space: pre-line;
}
.f-button{
    border-radius: none;
    width: 150px;
}

/* footer */
.footer{
    text-align: center;
    margin: 20vh 0;
    background-color: rgb(10, 10, 44);
    color: white;
    padding: 10vh 0;
}
.footer h3{
    font-size: 24px;
    font-weight: bold;
}
.footer p,h6{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: rgba(245, 245, 245, 0.658);
}
.icon{
    gap: 20px;
    margin: 20px 45%;
}
.footer i{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.694);
}
/* Media Queries for phone */

@media screen and (max-width: 576px) {
    .header{
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    width: 92%;
}

.nav-links{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}
.logo{
    font-size: 1rem;
    font-weight: bold;
    color: var(--f-primary);
    white-space: pre-line;
}

.nev-item a {
    font-size: 10px;
    text-align: center;
}

/* Banner style */

.banner{
    flex-direction: column-reverse;
    gap: 30px;
    padding: 10px;
    width: 94%;
    justify-content: space-between;
}
.b-content{
    align-items: center;
}
.b-content h1{
    font-size: 2rem;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}
.b-content p{
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}
.b-image{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
}
.b-image img{
    width: 80%;
    height: 90%;
    
}
.b-button{
    width: 200px;
}
.sponsor{
    padding-left: 31%;
    gap: 40px;
    grid-template-columns: repeat(1,1fr);
}
.sponsor img{
    width: 70%;

}
.collection-container{
    grid-template-columns: repeat(1,1fr);
    gap: 50px;
    padding: 4%;
}
.collection-card{
    padding: 15px 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.24);
}
.feature{
    flex-direction: column-reverse;
    padding: 5px;
    gap: 40px;
}
.feature-content p{
    white-space: inherit;
}
.img img{ 
    width: 95%;
}
footer li{
    color: white;
}
#see-more{
    left: 34%;
    bottom: 0;
}
.icon{
    gap: 20px;
    margin: 20px 32%;
}

}